@layer components {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-block: var(--size-300);

		ul {
			display: flex;
			gap: var(--size-400);

			list-style: none;
		}
	}
}
