@layer components {
	.header {
		--btn-bg-color: var(--color-neutral-200);

		background-color: var(--color-neutral-200);
		color: var(--color-neutral-900);

		min-block-size: calc(3 * var(--em-size-400));

		h1 {
			font-size: 1em;

			display: flex;
			align-items: stretch;
		}

		& > h1 a {
			display: flex;
			align-items: center;
			padding-inline: var(--em-size-200);

			transition: background-color 150ms ease-in-out;

			&:is(:hover, :focus-visible) {
				background-color: var(--color-neutral-300);
			}
		}

		& > nav > ul {
			display: flex;
			gap: var(--em-size-400);

			height: 100%;

			align-items: center;
			list-style: none;

			& > :only-child {
				align-self: stretch;
			}

			& > :not(:only-child) {
				padding-block: var(--em-size-200);
			}
		}
	}
}
