@use '../abstracts' as *;

@layer utilities {
	[class*='box-shadow'] {
		--offset-x: var(--shadow-offset-x, 0);
		--offset-y: var(--shadow-offset-y, 0);
		--blur: var(--shadow-blur, var(--size-400));
		--spread: var(--shadow-spread, 0);
		--color: var(--shadow-color, 0deg, 0%, 0%);
		--opacity: var(--shadow-opacity, 0.2);

		--box-shadow: var(--offset-x) var(--offset-y) var(--blur) var(--spread)
			hsl(var(--color), var(--opacity));
		box-shadow: var(--box-shadow);
	}

	.box-shadow-small {
		--shadow-opacity: 0.15;
		--shadow-blur: var(--size-300);
	}

	.box-shadow-large {
		--shadow-opacity: 0.15;
		--shadow-blur: var(--size-500);
	}
}
