@use '../abstracts' as *;

@layer utilities {
	[class*='box-shadow-'] {
		--box-shadow: var(--shadow-offset-x, 0) var(--shadow-offset-y, 0)
			var(--shadow-blur, 1em) var(--shadow-spread, 0)
			var(
				--shadow-color,
				hsl(var(--shadow-color, 0 0% 0%) / var(--shadow-opacity, 0.4))
			);
		box-shadow: var(--box-shadow);
	}

	.box-shadow-small {
		--shadow-opacity: 0.3;
		--shadow-blur: 0.75em;
	}

	.box-shadow-large {
		--shadow-opacity: 0.4;
		--shadow-blur: 1.25em;
	}
}
