@layer utilities {
	.block {
		display: block;
	}

	.hide {
		display: none;
	}

	.inline-block {
		display: inline-block;
	}

	.inline-flex {
		display: inline-flex;
	}

	.inline-grid {
		display: inline-grid;
	}

	.contents {
		display: contents;
	}
}
