$props: 'padding', 'margin';
$logicalDirections: 'block', 'inline';
$logicalSides: 'start', 'end';
@layer utilities {
	@each $prop in $props {
		@for $i from 1 to 10 {
			@each $direction in $logicalDirections {
				@each $side in $logicalSides {
					.#{$prop}-#{$direction}-#{$side}-#{$i}00 {
						#{$prop}-#{$direction}-#{$side}: var(--size-#{$i}00);
					}

					.#{$prop}-#{$direction}-#{$side}-auto {
						#{$prop}-#{$direction}-#{$side}: auto;
					}

					.#{$prop}-#{$direction}-#{$side}-0 {
						#{$prop}-#{$direction}-#{$side}: 0;
					}
				}

				.#{$prop}-#{$direction}-#{$i}00 {
					#{$prop}-#{$direction}: var(--size-#{$i}00);
				}

				.#{$prop}-#{$direction}-auto {
					#{$prop}-#{$direction}: auto;
				}

				.#{$prop}-#{$direction}-0 {
					#{$prop}-#{$direction}: 0;
				}
			}

			.#{$prop}-auto {
				#{$prop}: auto;
			}

			.#{$prop}-0 {
				#{$prop}: 0;
			}

			.#{$prop}-#{$i}00 {
				#{$prop}: var(--size-#{$i}00);
			}
		}
	}
}
