$weights: lighter, bold, bolder, normal;
$alignments: start, end, justify, center;

@layer utilities {
	@for $i from 1 to 10 {
		.font-size-#{$i}00 {
			font-size: var(--size-#{$i}00);
		}

		.font-weight-#{$i}00 {
			font-weight: 100 * $i;
		}
	}

	@each $weight in $weights {
		.font-weight-#{$weight} {
			font-weight: $weight;
		}
	}

	@each $alignment in $alignments {
		.text-align-#{$alignment} {
			text-align: $alignment;
		}
	}

	.underline {
		text-decoration: underline;
	}
}
