@layer components {
	.input-group {
		margin-block-end: 1rem;

		&:not(:first-of-type) {
			margin-block-start: 4rem;
		}

		&:last-of-type {
			margin-block-end: 2.5rem;
		}
	}

	.input-control {
		--text-color: var(--color-neutral-700);
		--accent-color: var(--color-accent-400);

		position: relative;

		font-size: 1.2rem;

		width: 100%;
		border-bottom: 2px solid var(--text-color);
		margin-inline: auto;
	}

	.input {
		width: 100%;
		margin: 1px;
		padding: 0;
		border: none;
		background: none;

		outline: none;

		color: var(--text-color);
		overflow: hidden;

		transition: color 300ms;
	}

	.input-control::after {
		content: '';
		position: relative;
		top: 2px;

		display: block;
		height: 4px;
		width: 100%;
		background: var(--accent-color);

		transform: scaleX(0);
		transform-origin: 0%;
		transition: transform 500ms ease;
	}

	.input-control:focus-within {
		border-color: transparent;
	}

	.input-control:focus-within::after {
		transform: scaleX(1);
	}

	.label {
		position: absolute;

		color: var(--text-color);

		transform: translateY(-1.75rem);
		transform-origin: 0%;
		transition: transform 400ms, color 300ms;

		pointer-events: none;
		user-select: none;
	}

	.input-control:focus-within .label,
	.input:not(:placeholder-shown) + .label {
		transform: scale(0.8) translateY(-4.5rem);
	}

	.error {
		color: var(--accent-color);
	}
}
