@use 'styles/abstracts';

@layer components {
	.collapsableMenu {
		position: relative;
		background-color: inherit;
	}

	.collapsableMenuList {
		position: absolute;

		inset-inline-end: 0;
		inset-block-end: 0;

		min-inline-size: calc(5 * var(--size-900));

		background-color: inherit;
		opacity: 0;

		translate: 0 100%;
		transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
		z-index: 1;

		[aria-expanded='true'] + & {
			opacity: 1;
		}
	}

	.collapsableMenuItem {
		inline-size: 100%;
		box-shadow: none;
		scale: 1;

		&::before {
			display: none;
		}

		& > span {
			justify-self: start;
		}

		&:focus-visible {
			outline: 2px solid abstracts.$colorLight;
		}
	}

	li:has(> .collapsableMenuItem):not(:last-child) {
		position: relative;
	}

	li:has(> .collapsableMenuItem):not(:last-child)::after {
		content: '';
		position: absolute;
		inset-inline: var(--size-300);
		inset-block-end: 0;

		background-color: hsl(var(--color-neutral-900) / 0.4);
		height: 1px;
	}
}
