@use 'styles/abstracts';
@layer components {
	.spinner {
		aspect-ratio: 1;

		display: inline-block;
		border-block-start: 3px solid abstracts.$colorLight;
		border-radius: 50%;

		animation: spinner 500ms linear infinite forwards;
	}

	@keyframes spinner {
		from {
			rotate: 0turn;
		}

		to {
			rotate: 1turn;
		}
	}
}
