@layer components {
	.btn {
		color: var(--text-color, var(--color-neutral-900));
		background-color: var(--bg-color, var(--color-neutral-100));
		border-color: var(--border-color, var(--color-neutral-900));

		display: inline-block;
		position: relative;

		border-width: 1px;
		border-style: solid;
		padding-block: var(--em-size-200);
		padding-inline: var(--em-size-300);

		font-weight: bold;
		font-size: var(--em-size-400);

		cursor: pointer;
		user-select: none;
		transition: 300ms ease;

		&:not([class*='outline']) {
			--border-color: var(--bg-color);
		}

		&[class*='outline'] {
			--border-color: var(--text-color);
			--bg-color: var(--btn-bg-color, var(--color-neutral-100));
		}

		&-primary {
			--bg-color: var(--color-primary-400);
			--text-color: var(--btn-text-color, var(--color-neutral-100));
		}

		&-outline-primary {
			--text-color: var(--color-primary-400);
		}

		&-accent {
			--bg-color: var(--color-accent-400);
			--text-color: var(--btn-text-color, var(--color-neutral-100));
		}

		&-outline-accent {
			--text-color: var(--color-accent-400);
		}

		&-neutral {
			--bg-color: var(--color-neutral-400);
			--text-color: var(--btn-text-color, var(--color-neutral-100));
		}

		&-outline-neutral {
			--text-color: var(--color-neutral-400);
		}

		&-danger {
			--bg-color: var(--color-danger-400);
			--text-color: var(--btn-text-color, var(--color-neutral-100));
		}

		&:is(:focus-visible, :hover):not([disabled]) {
			background-color: var(--text-color);
			color: var(--bg-color);
		}

		&:focus-visible:not([disabled]) {
			outline-color: var(--border-color);
			outline-offset: 5px;
		}
	}
}
