@layer components {
	.btn {
		color: var(--text-color, var(--color-neutral-900));
		background-color: var(--bg-color, var(--color-neutral-100));
		border-color: var(--border-color, var(--color-neutral-900));

		display: inline-block;
		position: relative;

		border-width: 1px;
		border-style: solid;
		padding-block: 0.45em;
		padding-inline: 0.75em;

		border-radius: 0.25em;

		font-weight: bold;
		font-size: 1.2rem;

		cursor: pointer;
		transition: 300ms ease;

		&:not([class*='outline']) {
			--border-color: var(--bg-color);
		}

		&[class*='outline'] {
			--border-color: var(--text-color);
			--bg-color: var(--color-neutral-100);
		}

		&-primary {
			--bg-color: var(--color-primary-400);
			--text-color: var(--color-neutral-100);
		}

		&-outline-primary {
			--text-color: var(--color-primary-400);
		}

		&-accent {
			--bg-color: var(--color-accent-400);
			--text-color: var(--color-neutral-100);
		}

		&-outline-accent {
			--text-color: var(--color-accent-400);
		}

		&-neutral {
			--bg-color: var(--color-neutral-400);
			--text-color: var(--color-neutral-100);
		}

		&-outline-neutral {
			--text-color: var(--color-neutral-400);
		}

		&-danger {
			--bg-color: var(--color-danger-400);
			--text-color: var(--color-neutral-100);
		}

		&:is(:focus-visible, :focus-within, :hover):not([disabled]) {
			background-color: var(--text-color);
			color: var(--bg-color);
		}
	}
}
