.btn {
	position: relative;

	border: 1px solid;
	padding: 0.25em 0.75em;
	background: none;

	font-weight: bold;
	font-size: 1.2rem;

	cursor: pointer;
	transition: 100ms ease;
}

.btn::after {
	content: '';
	position: absolute;
	inset: 0;

	background-color: #fff6;

	pointer-events: none;
	transition: background-color 100ms ease;
}

.btn:not([disabled])::after {
	background-color: #fff0;
}

.btn:hover:not([disabled]),
.btn:focus-visible:not([disabled]) {
	filter: brightness(0.95);
	transform: scale(0.99) translate(2px, 2px);
}

.btn-primary {
	border: none;
	background: var(--accent-color);
	color: white;
}
