@layer components {
	.message-list {
		list-style: none;
		padding-block-end: var(--size-200);

		display: flex;
		gap: var(--size-200);
		flex-direction: column;

		padding-inline: var(--size-200);
		margin-inline-end: 5px;
		margin-block: 5px;

		overflow-y: auto;

		li {
			display: contents;
		}

		li:first-of-type > * {
			margin-block-start: var(--size-200) !important;
		}
	}
}
