@layer components {
	.google-btn {
		--bg-color: hsl(215deg, 80%, 50%);
		--bg-color-hover: hsl(215deg, 80%, 60%);
		--text-color: hsl(0deg, 0%, 100%);

		display: flex;
		align-items: center;
		justify-content: space-between;

		border: 0;
		padding: 3px;

		background-color: var(--bg-color);
		color: var(--text-color);
		border-radius: 4px;

		transition: background-color 150ms ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: var(--bg-color-hover);
		}

		.google-icon {
			display: grid;
			place-items: center;

			width: 1.65em;
			aspect-ratio: 1.05;

			border-radius: 2px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			background-color: white;

			font-size: 1.25em;

			svg {
				transform: translate(-2.5%, 5%);
			}
		}

		.google-text {
			padding-inline: var(--size-300);
		}
	}
}
