@layer components {
	.tooltip {
		--bg-color: var(--tooltip-bg, hsl(var(--color-neutral-100)));
		--text-color: var(--tooltip-text-color, hsl(var(--color-neutral-900)));

		position: absolute;
		inset-inline: 5%;
		inset-block-start: calc(100% + var(--size-300));

		max-inline-size: min(75%, 75ch);
		padding: 0.5em;

		font-size: 0.75em;

		box-shadow: var(--box-shadow-small);
		border-radius: var(--size-100);
		background-color: var(--bg-color);
		color: var(--text-color);
		opacity: 0;

		z-index: 1;
		pointer-events: none;

		transition: opacity 300ms ease-in-out;

		&:before {
			content: '';
			top: 0;
			position: absolute;

			border: var(--size-200) solid transparent;
			border-block-end-color: var(--bg-color);

			translate: 0 -100%;

			@supports not (translate: 0) {
				transform: translateY(-100%);
			}
		}
	}

	:not(:has(> :is(input, select, textarea))):has(> .tooltip):hover > .tooltip {
		opacity: 1;
	}

	:is(input, select, textarea):is(:hover, :focus) ~ .tooltip {
		opacity: 1;
	}
}
