@use "../../styles/abstracts/colors" as *;
@layer components {
	.message {
		position: relative;
		width: clamp(35ch, 45%, 75ch);

		padding-block: var(--em-size-200);
		padding-inline: var(--em-size-400);

		border-radius: var(--size-200);

		color: var(--color-neutral-900);

		&-sent {
			color: getcolor('neutral', 100);
			background-color: getcolor('primary', 700);
			align-self: end;
			border-bottom-right-radius: 0;
		}

		&-received {
			background-color: var(--color-neutral-200);
			align-self: start;

			border-bottom-left-radius: 0;
		}

		time {
			display: block;

			width: max-content;
			margin-inline-start: auto;

			font-size: var(--size-300);
		}
	}
}
