@use '../abstracts/' as *;

@mixin customProps {
	@each $size-name, $size in $sizes {
		--size-#{$size-name}: #{$size}rem;
	}

	@each $size-name, $size in $sizes {
		--em-size-#{$size-name}: #{$size}em;
	}
}

@layer base {
	:root {
		@include customProps;
		--page-inline-padding: max(var(--size-400), 5vw);
		font-size: clamp(8px, 2vw, 16px);
	}

	body > #__next {
		display: grid;
		grid-template-columns: var(--page-inline-padding) 1fr var(
				--page-inline-padding
			);

		& > * {
			grid-column: 2 / -2;
		}

		& > .fullbleed {
			grid-column: 1 / -1;
			padding-inline: var(--page-inline-padding);
		}
	}

	::-webkit-scrollbar {
		width: 0.5rem;
	}

	::-webkit-scrollbar-track {
		background-color: var(--color-neutral-300);
		border-radius: 100vmax;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--color-neutral-400);
		border-radius: 100vmax;
		// width: calc(0.5rem - 2px);
	}
}
