@layer base {
	:root {
		font-family: Arial;
		font-size: clamp(8px, 10vw, 18px);

		color-scheme: light dark;

		&:has(> body.dark) {
			color-scheme: dark;
		}

		&:has(> body.light) {
			color-scheme: light;
		}
	}

	* {
		scrollbar-color: hsl(var(--color-neutral-100)) hsl(var(--color-neutral-200));
		scrollbar-width: 5px;
	}

	body {
		color: hsl(var(--color-neutral-900));
		background-color: hsl(var(--color-neutral-100));
	}

	ion-icon {
		line-height: 0;
	}

	::-webkit-scrollbar {
		width: 0.75rem;

		&-track,
		&-thumb {
			border-radius: 100vmax;
		}

		&-track {
			background-color: hsl(var(--color-neutral-200));
		}

		&-thumb {
			background-color: hsl(var(--color-neutral-300));
		}
	}
}
