@layer base {
	:root {
		--shadow-color: 0 0% 0%;

		--box-shadow-small: 0 0 var(--size-400) 0 hsl(var(--shadow-color) / 0.25);

		--box-shadow-medium: 0 0 var(--size-500) 0 hsl(var(--shadow-color) / 0.3);

		--box-shadow-large: 0 0 var(--size-900) 0 hsl(var(--shadow-color) / 0.4);
	}
}
