@use 'sass:map';

$colors: (
	neutral: (
		light: (
			hue: 250,
			saturation: 5%,
			brightness: 90%,
		),
		dark: (
			hue: 250,
			saturation: 5%,
			brightness: 10%,
		),
	),
	danger: (
		light: (
			hue: 0,
			saturation: 65%,
			brightness: 80%,
		),
		dark: (
			hue: 0,
			saturation: 65%,
			brightness: 20%,
		),
	),
	warning: (
		light: (
			hue: 45,
			saturation: 65%,
			brightness: 90%,
		),
		dark: (
			hue: 45,
			saturation: 50%,
			brightness: 15%,
		),
	),
	success: (
		light: (
			hue: 125,
			saturation: 45%,
			brightness: 85%,
		),
		dark: (
			hue: 125,
			saturation: 35%,
			brightness: 2.5%,
		),
	),
	primary: (
		light: (
			hue: 210,
			saturation: 45%,
			brightness: 90%,
		),
		dark: (
			hue: 210,
			saturation: 45%,
			brightness: 15%,
		),
	),
	accent: (
		light: (
			hue: 280,
			saturation: 45%,
			brightness: 90%,
		),
		dark: (
			hue: 280,
			saturation: 45%,
			brightness: 15%,
		),
	),
);

@layer base {
	:root {
		@each $color_name, $color in $colors {
			@each $theme_name, $theme in $color {
				@for $i from 1 to 10 {
					$sign: if($theme_name == light, -10%, 10%);

					$prop: --color-#{$color_name}-#{$i}00-#{$theme_name};
					$hue: map.get($theme, hue);
					$saturation: map.get($theme, saturation);
					$brightness: map.get($theme, brightness) + $sign * ($i - 1);

					#{$prop}: #{$hue} #{$saturation} #{$brightness};
				}
			}
		}

		@each $color_name, $_ in $colors {
			@for $i from 1 to 10 {
				$prop: --color-#{$color_name}-#{$i}00;
				#{$prop}: var(#{$prop}-light);
			}
		}

		.dark {
			@each $color_name, $_ in $colors {
				@for $i from 1 to 10 {
					$prop: --color-#{$color_name}-#{$i}00;
					#{$prop}: var(#{$prop}-dark);
				}
			}
		}

		@media (prefers-color-scheme: dark) {
			@each $color_name, $_ in $colors {
				@for $i from 1 to 10 {
					$prop: --color-#{$color_name}-#{$i}00;
					#{$prop}: var(#{$prop}-dark);
				}
			}

			.light {
				@each $color_name, $_ in $colors {
					@for $i from 1 to 10 {
						$prop: --color-#{$color_name}-#{$i}00;
						#{$prop}: var(#{$prop}-light);
					}
				}
			}
		}
	}
}
