.authDialog > section {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;

	transition: block-size 300ms ease-in-out;

	& > * {
		grid-row: 1;
		grid-column: 1;

		transition: opacity 300ms ease-in-out;
	}

	& > [inert='true'] {
		max-block-size: 100%;

		opacity: 0;
		overflow: hidden;
	}
}
