@layer components {
	.main-panel {
		display: grid;
		grid-template-columns: minmax(0, 22em) 1fr;

		height: calc(100vh - 4.5 * var(--em-size-500));
		margin-block-start: 1em;

		.contacts-section {
			background-color: var(--color-neutral-200);
			padding-block-start: var(--em-size-900);
			padding-inline: var(--em-size-200);

			border-top-left-radius: var(--size-200);
			border-bottom-left-radius: var(--size-200);
		}

		.contact-list {
			display: flex;
			flex-direction: column;
			gap: 2px;

			list-style: none;
		}

		.messages-section {
			border-inline-end: var(--size-100) solid var(--color-neutral-200);
			border-block-end: var(--size-100) solid var(--color-neutral-200);

			border-top-right-radius: var(--size-200);
			border-bottom-right-radius: var(--size-200);
			overflow: hidden;

			display: grid;
			grid-template-rows: auto 1fr auto;
		}
	}
}
