.formWrapper {
	--vertical-padding: 3rem;
	--horizontal-padding: 4rem;
	--separator-size: 3rem;
	--gap: 3rem;
	position: relative;

	width: clamp(300px, 80vw, 1000px);
	margin: 4em auto;
	padding-block: var(--vertical-padding);
	padding-inline: var(--horizontal-padding);
	background-color: hsl(0, 0%, 90%);

	display: grid;
	grid-auto-columns: 1fr var(--separator-size) 1fr;
	grid-template-areas: 'title title title' 'form separator social';
	grid-auto-rows: 1.5rem auto;
	gap: var(--gap) 2rem;
}

.formWrapper h2 {
	grid-area: title;
	line-height: 1;
	font-size: 1.5rem;
	text-align: center;
}

.formWrapper .form {
	grid-area: form;
}

.formWrapper .form button:first-of-type {
	margin-left: auto;
	display: block;
}

.formWrapper .separator {
	width: var(--separator-size);
	height: var(--separator-size);
	border: 2px solid black;
	background-color: hsl(0, 0%, 90%);

	display: grid;
	place-items: center;
	grid-area: separator;
	align-self: center;

	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;

	border-radius: 50%;
}

.formWrapper .separator::before,
.formWrapper .separator::after {
	content: '';
	position: absolute;
	left: calc(50% - 1px);

	width: 2px;
	height: calc(
		(
				100% - 2 * var(--vertical-padding) - var(--gap) - var(--separator-size) -
					1.5rem
			) / 2
	);
	background: #000;
}

.formWrapper .separator::before {
	top: calc(var(--vertical-padding) + var(--gap) + 1.5rem);
}

.formWrapper .separator::after {
	top: calc(100% - var(--vertical-padding));
	transform: translateY(-100%);
}

.formWrapper .social {
	grid-area: social;
}

.formWrapper .social > * {
	width: 100%;
}

@media (max-width: 810px) {
	.formWrapper {
		grid-template-areas:
			'title'
			'social'
			'separator'
			'form';
	}

	.formWrapper .separator {
		justify-self: center;
	}

	.formWrapper .separator::before,
	.formWrapper .separator::after {
		top: calc(var(--vertical-padding) + var(--gap) + 1fr + 1.5rem);
		height: 2px;
		width: calc(
			(100% - 2 * var(--horizontal-padding) - var(--separator-size)) / 2
		);
	}

	.formWrapper .separator::before {
		left: var(--horizontal-padding);
	}

	.formWrapper .separator::after {
		left: calc(50% + var(--separator-size) / 2);
		transform: none;
	}
}
